.mainContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}
.navContainer{
    width: 75%;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0px;
    text-align: right;
}
.navCart{
    color: var(--secondary-font-color);
}
.noItemsYet{
    margin: 20px;
}